<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Boba.in - Custom Boba</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global-style.css ">
    <link rel="stylesheet" href="/css/custom-boba-style.css ">
    <!-- <link rel="stylesheet" href="global-style.css ">
    <link rel="stylesheet" href="custom-boba-style.css "> -->
</head>
<body>
    <div id="loading-screen" class="loading-screen not-shown">
        <h3 class="sub-title">
            Saving your boba now!
        </h3>
        <img class="loading-gif" src="/img/loading_gif.gif" alt="loading"/>
    </div>
    <header class="header">
        <a href="/">
            <h1 class="header-title">
                Boba.in        
            </h1>
        </a>
        <div class="header-cart-container">
            <a href="/cart/">
                <img src="/img/cart.svg" alt="cart" class="header-cart"/>
            </a>
        </div>
    </header>

    <section class="section">
        <div class="section-title-container">
            <h1 class="section-title">
                CUSTOM DRINK
            </h1>
        </div>
        <div class="section-custom-drink">
            <div class="selected-base">
                <h3 class="sub-title">
                    Selected Base
                </h3>
                <div class="selected-boba-toppings-container">
                    <img id="selected-base-img" class="selected-base-img" th:src="'/img/' + ${currentBobaType} + '.png'" th:alt="${currentBoba.getDescription()}"/>
                    <div id="selected-toppings" class="selected-toppings">
                        <div th:each="toppingKey: ${selectedToppings.keySet()}" class="selected-topping">
                            <img class="selected-topping-img" th:src="'/img/' + ${selectedToppings.get(toppingKey)} + '.png'" th:alt="${selectedToppings.get(toppingKey)}"/>
                            <div class="topping-button-container">
                                <p class="selected-topping-name" th:text="${selectedToppings.get(toppingKey)}"></p>
                                <form
                                        th:action="'/api/remove-topping=' + ${toppingKey}"
                                        method="POST">
                                    <button type="submit" class="small-button">Remove</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="selected-base-desc">
                    <p id="selected-base-desc-title" th:text="${descriptionFromSelectedToppings}"></p>
                    <p id="selected-base-desc-cost" th:text="'Rp ' + ${currentBoba.getCost() + selectedToppingsCost}"></p>
                </div>
            </div>
            <div class="options-container">
                <div class="option-container">
                    <img src="/img/Clear.png" alt="clear">
                    <div class="desc-button-container">
                        <div class="desc">
                            <p>Clear Boba</p>
                            <p>Rp 10000</p>
                        </div>
                        <form
                                th:action="@{/api/set-boba=clear}"
                                method="POST">
                            <button class="button" type="submit">Pick Base</button>
                        </form>
                    </div>
                </div>
                <div class="option-container">
                    <img src="/img/Tea.png" alt="tea">
                    <div class="desc-button-container">
                        <div class="desc">
                            <p>Tea Boba</p>
                            <p>Rp 15000</p>
                        </div>
                        <form
                                th:action="@{/api/set-boba=tea}"
                                method="POST">
                            <button class="button" type="submit">Pick Base</button>
                        </form>
                    </div>
                </div>
                <div class="option-container">
                    <img src="/img/Milk.png" alt="milk">
                    <div class="desc-button-container">
                        <div class="desc">
                            <p>Milk Boba</p>
                            <p>Rp 17000</p>
                        </div>
                        <form
                                th:action="@{/api/set-boba=milk}"
                                method="POST">
                            <button class="button" type="submit">Pick Base</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="white-line"></div>
    <section class="section">
        <h3 class="sub-title add-toppings-sub-title">Add Topping(s)</h3>
        <div class="section-add-toppings flex-column">
            <div class="option-container toppings-container">
                <div class="topping-container">
                    <img src="/img/Ice.png" alt="ice"/>
                    <div class="desc-button-container">
                        <div class="desc">
                            <p>Ice</p>
                            <p>Rp 3000</p>
                        </div>
                        <form
                                th:action="@{/api/add-topping=ice}"
                                method="POST">
                            <button class="button" type="submit">Add</button>
                        </form>
                    </div>
                </div>
                <div class="topping-container">
                    <img src="/img/Cheese.png" alt="cheese"/>
                    <div class="desc-button-container">
                        <div class="desc">
                            <p>Cheese</p>
                            <p>Rp 5000</p>
                        </div>
                        <form
                                th:action="@{/api/add-topping=cheese}"
                                method="POST">
                            <button class="button" type="submit">Add</button>
                        </form>
                    </div>
                </div>
                <div class="topping-container">
                    <img src="/img/Brown Sugar.png" alt="brown-sugar"/>
                    <div class="desc-button-container">
                        <div class="desc">
                            <p>Brown Sugar</p>
                            <p>Rp 5000</p>
                        </div>
                        <form
                                th:action="@{/api/add-topping=brown-sugar}"
                                method="POST">
                            <button class="button" type="submit">Add</button>
                        </form>
                    </div>
                </div>
                <div class="topping-container">
                    <img src="/img/Black Bubble.png" alt="black-bubble"/>
                    <div class="desc-button-container">
                        <div class="desc">
                            <p>Black Bubble</p>
                            <p>Rp 5000</p>
                        </div>
                        <form
                                th:action="@{/api/add-topping=black-bubble}"
                                method="POST">
                            <button class="button" type="submit">Add</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="save-to-cart-container">
                <input id="save-to-cart-input" class="save-to-cart-input" value="1" type="number" min="1" name="jumlah">
                <button onclick="saveBoba()" class="button">Save to cart</button>
        </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>
    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/js/scripts-custom-boba.js"></script>
</body>
</html>