<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Boba.in - History</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/global-style.css ">
    <link rel="stylesheet" href="/css/main-menu-style.css ">
</head>
<body>
    <div id="loading-screen" class="loading-screen not-shown">
        <h3 class="loading-title">
            Loading!
        </h3>
        <img class="loading-gif" src="/img/loading_gif.gif" alt="loading"/>
    </div>
    <header class="header">
        <a href="/">
            <h1 class="header-title">
                Boba.in
            </h1>
        </a>
        <a href="/cart/">
            <div class="header-cart-container">
                <img src="/img/cart.svg" alt="cart" class="header-cart"/>
            </div>
        </a>
    </header>

    <section class="section">
        <div class="section-title-container">
            <h1 class="section-title">
                Purchase History
            </h1>
        </div>
        <div class="container-fluid">
            <table class="table table-bordered table-hover">
                <thead class="table-header">
                    <tr>
                        <th>ID</th>
                        <th>Quantity</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody th:each="receipt: ${receipts}">
                    <tr>
                        <td><p th:text="${receipt.getId().toString()}"></p></td>
                        <td><p th:text="${receipt.getQuantity()}"></p></td>
                        <td><p th:text="${receipt.getTotalPrice()}"></p></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</body>
</html>