<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Boba.in</title>
     <link rel="stylesheet" href="/css/global-style.css ">
</head>
<body>

<h1>
    Boba.in is under development
</h1>
<h2>Current boba</h2>
<div id="current-boba">
    <p th:text="${currentBoba.getDescription()}"></p>
</div>

<h2>Selected toppings</h2>
<div id="selected-toppings">
    <div th:each="topping: ${selectedToppings}">
        <p th:text="${topping}"></p>
    </div>
</div>

<h2>All boba</h2>
<div id="all-boba">
    <div th:each="boba: ${allBoba}">
        <p th:text="${boba.getDescription()}"></p>
    </div>
</div>

<form
      th:action="@{/api/set-boba=clear}"
      method="POST">
    <button type="submit">Clear Boba</button>
</form>
<form
    th:action="@{/api/set-boba=tea}"
    method="POST">
    <button type="submit">Tea Boba</button>
</form>
<form
    th:action="@{/api/set-boba=milk}"
    method="POST">
    <button type="submit">Milk Boba</button>
</form>

<!-- ADD/REMOVE TOPPINGS-->
<form
        th:action="@{/api/add-topping=ice}"
        method="POST">
    <button type="submit">Add Ice</button>
</form>
<form
        th:action="@{/api/remove-topping=ice}"
        method="POST">
    <button type="submit">Remove Ice</button>
</form>

<form
        th:action="@{/api/add-topping=cheese}"
        method="POST">
    <button type="submit">Add Cheese</button>
</form>
<form
        th:action="@{/api/remove-topping=cheese}"
        method="POST">
    <button type="submit">Remove Cheese</button>
</form>

<form
        th:action="@{/api/add-topping=brown-sugar}"
        method="POST">
    <button type="submit">Add Brown Sugar</button>
</form>

<form
        th:action="@{/api/remove-topping=brown-sugar}"
        method="POST">
    <button type="submit">Remove Brown Sugar</button>
</form>

<form
        th:action="@{/api/add-topping=black-bubble}"
        method="POST">
    <button type="submit">Add Black Bubble</button>
</form>


<form
        th:action="@{/api/remove-topping=black-bubble}"
        method="POST">
    <button type="submit">Remove Black Bubble</button>
</form>



<form
        th:action="@{/api/save}"
        method="POST">
    <label>Number of boba:</label>
    <input value="1" id="number-of-boba" type="number" min="1" name="jumlah">
    <button type="submit">Save Boba</button>
</form>

<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
 <script src="/js/scripts.js"></script>
</body>
</html>