<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Bobain - Cart</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/global-style.css ">
        <link rel="stylesheet" href="/css/cart-style.css">

    </head>
    <body>
        <header class="header">
            <a href="/">
                <h1 class="header-title">
                    Boba.in
                </h1>
            </a>
            <div class="header-cart-container">
                <a href="/cart/">
                    <img src="/img/cart.svg" alt="cart" class="header-cart"/>
                </a>
            </div>
        </header>
        <div class="section-title-container">
            <h1 class="section-title">
                YOUR ORDER CODE IS
            </h1>
        </div>
        <div class="container-code">
            <input type="text" id="fname" name="firstname" th:value="${bobaidcart}">
            <button onclick="copyClipboard()" class="button" id="buttonCopy" >Copy </button>
            <form th:action="'/cart/store-receipt'" method="POST">
                <button type="submit" class="button">Confirm Payment</button>
            </form>
        </div>
        <div>
            <p id="changeText"></p>
        </div>
        <div class="section-title-container">
            <h1 class="section-title">
                PROVIDED STORE
            </h1>
        </div>
        <div  class="container">
            <img th:each="daftarToko: ${daftarToko}" class="toko" th:src="@{'/img/' + ${daftarToko} + '.jpg'}">
        </div>
        <script src="/js/scripts-store-cart.js"></script>
    </body>
</html>