@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap');
*
{
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	animation: fade 0.7s;
}

@keyframes fade{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

:root {
    --background: #F8F5EE;
    --dark: #949494;
    --black: #000000;
    --semi-dark: #D7C8C3;
    --white: #FCFCFC;
}
.button
{
	background-color: var(--semi-dark);
	border: none;
	border-radius: 20px;
	cursor: pointer;
	padding: 10px 20px;
}
.button:active, .small-button:active
{
	background-color: var(--semi-dark);
	transition: 0s;
}
.button:focus, .small-button:focus
{
	outline: none;
}
.button:hover, .small-button:hover
{
	background-color: var(--dark);
	color: var(--white);
	transition: ease-in-out 0.3s;
}
.flex
{
	display: flex;
}
.flex-column
{
	flex-direction: column;
}
.flex-container-center
{
	align-items: center;
	display: flex;
	justify-content: center;
}
.header
{
	background-color: var(--background);
	display: flex;
	justify-content: space-between;
	left: 0;
	margin-bottom: 10px;
	position: fixed;
	top: 0;
	width: 100%;
}
.header-cart
{
	width: 90%;
}
.header-cart-container
{
	align-items: center;
	background-color: var(--semi-dark);
	cursor: pointer;
	display: flex;
	height: 50px;
	justify-content: center;
	margin-right: 20px;
	width: 50px;
}
.header-cart-container:active
{
	background-color: var(--semi-dark);
	transition: 0s;
}
.header-cart-container:hover
{
	background-color: var(--dark);
	transition: ease-in-out 0.3s;
}
.header-title
{
	font-size: 2.5em;
	margin-left: 20px;
	margin-top: 5px;
}
.section
{
	padding: 50px 50px;
}
.section-title
{
	font-size: 2.3em;
	margin-bottom: 5px;
}
.section-title-container
{
	border-bottom: 1.5px solid var(--semi-dark);
	text-align: center;
}
.small-button
{
	background-color: var(--semi-dark);
	border: none;
	border-radius: 20px;
	cursor: pointer;
	font-size: 12px;
	outline: none;
	padding: 5px 15px;
}
.sub-title
{
	font-size: 2em;
}
.white-line
{
	background-color: var(--white);
	height: 30px;
}
@media only screen and (max-width: 500px)
{
	.header-title
	{
		font-size: 2em;
		margin-left: 15px;
	}
	.section
	{
		padding: 20px 50px;
	}
	.section-title
	{
		font-size: 1.5em;
	}
	.sub-title
	{
		font-size: 1.2em;
	}
}
a
{
    text-decoration: none;
    color: var(--black);
}
body
{
	background-color: var(--background);
	padding-top: 50px;
}