.sub-title
{
    margin-left: 10%;
    margin-top: 20px;
}
img {
    display: block;
    width: 100%;
    height: 100%;
}
.desc
{
    margin-bottom: 5px;
}
.desc-button-container
{
    margin-left: 15px;
    width: 150px;
}

.loading-gif{
    width: 200px; !important;
    height: auto;
    margin-top: 40px;
}
.loading-screen{
    width: 100vw;
    height: 100vh;
    background-color: var(--background);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: ease-in-out;
}

.loading-title{
    text-align: center;
}

.not-shown{
    display: none !important;
    transition: ease-in-out;
}
.option-container
{
    align-items: center;
    display: flex;
    margin: 20px 0px;
}
.option-container img
{
    width: 120px;
}
.save-to-cart-container
{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.save-to-cart-input
{
    font-size: 1.2em;
    height: 40px;
    margin-right: 10px;
    padding-left: 10px;
    width: 60px;
}
.section-drinks
{
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0px 10% 30px 10%;
}
.drink-container
{
    display: flex;
    margin: 20px 20px;
}
.drinks-container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}